<div class="main-container">
  <div class="container">
    <a [routerLink]="['/staff']">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>HP</h2>
            <div class="card-frame">
              <div class="card-picture">
                <img
                  src="assets/img/wizard-hat-svgrepo-com.svg"
                  alt=""
                  width="175"
                />
              </div>
              <h3 class="card-title">Staff</h3>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a [routerLink]="['/house']">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>HP</h2>
            <div class="card-frame">
              <div class="card-picture">
                <img
                  src="assets/img/spellbook-legend-svgrepo-com.svg"
                  alt=""
                  width="175"
                />
              </div>
              <h3 class="card-title">Characters</h3>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a [routerLink]="['/students']">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>HP</h2>
            <div class="card-frame">
              <div class="card-picture">
                <img
                  src="assets/img/wizard-svgrepo-com.svg"
                  alt=""
                  width="175"
                />
              </div>
              <h3 class="card-title">Students</h3>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
