table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.font {
  font-family: "Crimson Text", Georgia;
  color: black;
  font-size: 1rem;
}

a {
  cursor: url("../../../assets/img/pointer.cur"), auto;
}

th {
  background-color: black;
  font-family: "Harry Potter", sans-serif;
  font-size: 16px;
  color: white;
}

td {
  font-family: "Crimson Text", Georgia;
}

tr.mat-row {
  margin-top: 5px;
}

.character-img {
  height: 100%;
  width: 100px;
  border-radius: 8px;
}

.mat-cell {
  font-size: 18px;
}

.house-icon {
  width: 32px;
  height: 100%;
}

.hp-font {
  font-family: "Harry Potter", sans-serif;
  font-size: 18px;
}

::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: white;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: #EEBA30;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff884d;
}